# =========================================================
# Python Virtual Environment
# =========================================================

env/
venv/
.venv/


# =========================================================
# Python Cache
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================
# Environment / Secrets
# =========================================================

.env
.streamlit/secrets.toml


# =========================================================
# VS Code
# =========================================================

.vscode/


# =========================================================
# ML / Data Files
# =========================================================

*.npy


# =========================================================
# Firebase Secret
# =========================================================

firebase_config.json


# =========================================================
# Local Databases
# =========================================================

*.db
*.db-shm
*.db-wal


# =========================================================
# Qdrant Local Database
# =========================================================

qdrant_db/