trafilatura
requests
pandas
pathlib
sentence-transformers
flask
chromadb
streamlit
qdrant-client
torchvision
firebase-admin
langchain
langchain-groq
langchain-qdrant
langchain-huggingface
langchain-text-splitters